body {
    background: whitesmoke;
}

/*window1*/
#window1 {
    display: table;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}

.profile_img{
    max-width: 250px;
    border-radius: 70%;

}

#intro h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 55px;
    text-align: center;
}

#intro h3 {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 25px;
    color: #555555;
    text-align: center;
}

/*window2*/
#window2 {
    margin-top:80px;
    background: linear-gradient(palevioletred, 40%, pink);
}

#intro2  h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 600px;
    font-size: 55px;
    text-align: center;
    padding-top: 80px;
}

.star_img {
    width: 100px;
    height: 100px;
    display : inline;
}

.myself {
    display: -webkit-flex;
    display: flex;
    margin-top: 50px;
}
.challenge {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.challenge_img {
    width: 300px;
    height: 280px;
    display : inline;
    border-radius: 70%;
}
.challenge_text {
    margin-top: 30px;
    font-family: "Apple SD Gothic Neo", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

/*window4*/
#window4 {
    padding-top:30px;
    background: linear-gradient(pink, 40%,rgb(228, 191, 28));
}

#intro4 h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 50px;
    text-align: center;
}

h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 600;
    font-size: 55px;
    text-align: center;
}

.heart_img {
    width: 80px;
    height: 80px;
    display : inline;
}

.container2 {
    display: -webkit-flex;
    display: flex;
    margin-top: 30px;
}

.other {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.other_img {
    width: 500px;
    height: 300px;
    display : inline;
    width: 300px;
    height: 280px;
    border-radius: 70%;
}

.other {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.other p {
    font-family: "Apple SD Gothic Neo", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

.other p:hover {
    font-size: 0;
}

.tmilist p:hover::before {
    font-size: 25px;
    font-weight: bold;
    color: orangered;
}

.other #tmi1:hover:before {
    content: '한국 전통 악기';
}

.other #tmi2:hover:before {
    content: 'The Weeknd';
}

.other #tmi3:hover:before {
    content: '축구';
}

.other #tmi4:hover:before {
    content: '러닝';
}

.other #tmi5:hover:before {
    content: 'About time';
}

.other #tmi6:hover:before {
    content: 'Midnight in paris';
}

/*window3*/
#window3 {
    padding-top:30px;
    background: linear-gradient(rgb(228, 191, 28), 40%, skyblue);
}

#intro3  h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 600;
    font-size: 55px;
    text-align: center;
}

h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 600;
    font-size: 55px;
    text-align: center;
}

.cloud_img {
    width: 100px;
    height: 80px;
    display : inline;
}

.container {
    display: -webkit-flex;
    display: flex;
    margin-top: 50px;
}

.hobby {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.hobby_img {
    /*width: 500px;
    height: 300px;*/
    width: 300px;
    height: 280px;
    display : inline;
    border-radius: 70%;
}

.hobby_video{
    width: 300px;
    height: 280px;
    display : inline;
    border-radius: 70%;
}

.hobby_text {
    margin-top: 30px;
    font-family: "Apple SD Gothic Neo", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}
